<div class="main container">
    <div class="row-top d-flex justify-content-center align-items-center">
      <%= image_tag "cupcakes-690040_640.jpg" %>
      <section class="col-lg-6 text-center">
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない⽅も商品の閲覧はできますが、<br>
          購⼊には会員登録が必要になります。
        </p>
      </section>
    </div>
  </div>

  
  